*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#2F4F4F;
}
header{

    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
}
.titulo{
    font-size: 20px;
    font-family: "Abel", sans-serif;
    margin-left: 2rem;
    font-weight: 300;
  
}
.titulo:hover{
    color: rgba(43, 106, 169, 0.881);
    cursor: pointer;
}

 a{
    font-size: 18px;
    margin-right: 2rem;
    text-decoration: none;
    color: black;
    font-family: "Quicksand", sans-serif;
}
a.navegacion{
    padding: 8px;
}
a.navegacion:hover{
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}

.my-name{
    margin: 2rem 3rem;
    color: white;


}
div .my-tittle{
    font-size: 50px;
}
.my-name p{
    margin-top: 10px;
    font-size: 18px;
    margin-bottom: 3rem;
}

.contenedores{
     margin: 2rem 3rem;
     padding: 2rem;
     background-color: white;
     border-radius: 10px;

}
.contenedores img{
    max-width: 50%;
    margin: 2% 25%;
    border-radius: 8px;
}

.contenedores h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}
strong{
    margin-bottom: 20px;
}