*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#2F4F4F;
}
header{

    height: 30px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
}
.titulo{
    font-size: 20px;
    font-family: "Abel", sans-serif;
    margin-left: 2rem;
    font-weight: 300;
}
.titulo:hover{
    color: rgba(43, 106, 169, 0.881);
    cursor: pointer;
}

 a{
    font-size: 18px;
    margin-right: 2rem;
    text-decoration: none;
    color: black;
    font-family: "Quicksand", sans-serif;
}
a{
    padding: 8px;
}
a:hover{
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}

