*{
    padding: 0;
    margin: 0;
}
body{
    background-color:#2F4F4F;
}
header{
    height: 25px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    background-color: white;
}
.titulo{
    font-size: 20px;
    font-family: "Abel", sans-serif;
    margin-left: 2rem;
    font-weight: 300;
}
.titulo:hover{
    color: rgba(43, 106, 169, 0.881);
    cursor: pointer;
}

 a.barra{
    font-size: 18px;
    margin-right: 2rem;
    text-decoration: none;
    color: black;
    font-family: "Quicksand", sans-serif;
}
a.barra{
    padding: 8px;
}
a.barra:hover{
    color: white;
    background-color: rgba(0,0,0,0.7);
    border-radius: 8px;
}

.contenedores{
    text-align: center;
    background-color: white;
    border-radius: 10px;
    max-width: 40%;
    padding: 25px;
    height: 30%;
    margin: 1rem auto;
}
div.contenedores:hover{
    transition: 0.3s; 
    padding: 28px;

}
.contenedores h4{
    font-size: 25px;
    margin-bottom: 20px;
}

a.cabezeras{
    background-color: red;
    border-radius: 10px;
    max-width: 40%;
    padding: 15px;
    margin: auto;
    text-decoration: none;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    background-color: rgba(0,0,0,0.4);
    background-color:#006400;
}

a.cabezeras:hover{
    color: white;
    background-color: #2E8B57;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}



img{
    width: 100%;
    margin-bottom: 35px;
    border-radius: 8px ;
}