* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  display: grid;
  grid-template-columns: 1fr 7fr ;
  height: 100vh;
}
.navbar{
  margin: 5px;
  background-color: rgba(0,0,0,.1);
  border-radius: 8px;
  padding: 10px 15px;
}

.content{
  background-color:#138d75 ;
  color: white;
  margin: 5px 3px;
  border-radius: 8px;
  overflow: scroll;
}
footer{
  height: 10vh;
  width: 100%;
  background-color: rgba(0,0,0,.8);
  color: #ffff;
  text-align: center;
}
.logo{
  font-size: 18px;
  padding: 5px;
}
li{
  list-style: none;
  margin: 25px 2px;
}

a{
  text-decoration: none;  
  color: black;
  padding: 6px;
  border-radius: 8px;
  margin: 10px 0;
}
a:hover{
  background-color: rgba(0,0,0,.6);
  color: white;
}