<link rel="stylesheet" href="../css/components/sectionProfile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

<div id="hero">
    <div id="particles-js"></div>

<div class="container-profile">
    <div class="ful-name">
        <p class="name">Hola, mi nombre es</p>
        <h1>Paul Marco</h1>
        <p>Soy un desarrollador <br> Full Stack</p>
        <button class="btn-ver"><i class="fas fa-code"></i> Ver proyectos</button>
        <button class="descargar-cv"><i class="fas fa-download"></i> Descargar CV</button>
    </div>
    <div class="image-container">
        <div class="organic-shape"></div>
        <img class="recorte" src="../assets/images/fotoPerfil.png" alt="foto_de_perfil">
    </div>
</div>
 <svg class="wave" viewBox="0 0 1440 180">
    <path fill="#0077cc" fill-opacity="1"
          d="M0,160L48,154.7C96,149,192,139,288,144C384,149,480,171,576,165.3C672,160,768,128,864,138.7C960,149,1056,203,1152,202.7C1248,203,1344,149,1392,122.7L1440,96L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path>
  </svg>

</div>