<link rel="stylesheet" href="../css/components/sectionProfile.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">


<div>
    <div class="ful-name">

        <p>Hola, mi nombre es</p>
        <h2>Paul Marco</h2>
        <h4>Soy un desarrollador <br> Full Stack</h4>
        
        <button><i class="fas fa-code"></i> Ver proyectos</button>
<button><i class="fas fa-download"></i> Descargar CV</button>

    </div>

    <img src="../assets/images/perfil.avif" alt="">

</div>
