<link rel="stylesheet" href="../css/components/sectionSkills.css">

<div class="section-skills">
    <div class="tittle-project">
        <h2>Hablidades</h2>
        <p>Tecnologias en las que tengo conociemiento </p>
    </div>
    <div class="technologies">
        <div class="skill">
        <img src="../assets/icons/html-logo.png" alt="">
        <p>HTML</p>
    </div>
    <div class="skill">
        <img src="../assets/icons/css-logo.png" alt="">
        <p>CSS</p>
    </div>
    <div class="skill">
        <img src="../assets/icons/js-logo.png" alt="">
        <p>JavaScript</p>
    </div>
    <div class="skill">
        <img src="../assets/icons/git-logo.png" alt="">
        <p>Git</p>
    </div>
    <div class="skill">
        <img src="../assets/icons/github.png" alt
        ="">
        <p>GitHub</p>
    </div>
    
    <div class="skill">
        <img src="../assets/icons/linux-logo.png" alt="
        ">
        <p>Linux</p>
    </div>
    <div class="skill">
        <img src="../assets/icons/c++-logo.png" alt="">
        <p>C++</p>
    </div>
    <div class="skill">
        <img src="../assets/icons/python-logo.png" alt=
        "">
    <p>Python</p>
    </div>
    <div class="skill">
        <img src="../assets/icons/django-logo.png" alt=
        "">
        <p>Django</p>
    </div>
        
    <div class="skill">
        <img src="../assets/icons/postgres-logo.png" alt="">
         <p>PostgreSQL</p>
    </div>

    <div class="skill">
    
        <img src="../assets/icons/docker-logo.webp" alt="">
        <p>Docker</p>
    </div>
    </div>
</div>